<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CalculateMenuDao">

	<select id="getCalculateMenuList" resultType="vo.CalculateMenuVO" parameterType="hashmap" >
		select ps.pid pid, p.name name, p.name2 name2, {p.price*(p.wearhoused-p.stock)} sell_total, (ps.pdcharge*p.countsell) dcharge, (p.price*(p.wearhoused-p.stock)*0.15) AS ocharge, (p.price*(p.wearhoused-p.stock)*0.85-ps.pdcharge*p.countsell) jungsanmoney, p.jungsan jungsan, p.jungsandate jungsandate, p.inum AS inum
    	FROM products p INNER JOIN psale ps 
    	ON p.pid = ps.pid
	</select>  
	
	<update	id='updateCalculateMenu' parameterType="vo.CalculateMenuVO">
		UPDATE products SET jungsan=#{jungsan}, jungsandate=#{jungsandate} WHERE pid=#{pid}
	</update>
	
</mapper>