<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CalculateMenuDao">

	<select id="getCalculateMenuList" resultType="vo.CalculateMenuVO" parameterType="hashmap" >
		SELECT p.inum AS inum, p.pid AS pid, p.name AS name, p.name2 AS name2, sum(p.price*o.icount) AS sell_total, 
       		SUM(o.delivery) AS dcharge, sum(p.price*o.icount*0.30) AS ocharge, 
       		SUM(o.icount*p.price*0.85 + o.delivery) AS jungsanmoney, o.jok AS jok, o.jokdate AS jokdate
		FROM testproduct p  INNER JOIN order1 o ON p.inum = o.inum
		GROUP BY p.inum, p.pid, p.name, p.name2, o.jok, o.jokdate
	</select>  
	
	<update	id='updateCalculateMenu' parameterType="vo.CalculateMenuVO">
		UPDATE order1 SET jok=#{jok}, jokdate=#{jokdate} WHERE inum=#{inum}
	</update>
	
</mapper>