<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMenuDao">

   <select id="getMemberMenuList" resultType="vo.MemberMenuVO" parameterType="hashmap" >
      	select mnum, mid, maddr, mdaddr, mtel, memail, mdate, mout, moutwhy
		FROM member
   </select>  
   	<update	id='updateMemberMenu' parameterType="vo.MemberMenuVO">
		UPDATE member SET mout=#{mout}, moutwhy=#{moutwhy} WHERE mnum=#{mnum}
	</update>
   
</mapper>