<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberDAO"> 


<insert id="insertMember" parameterType="member">
	INSERT INTO member(MID,MPW,MNAME,MADDR,MDADDR,MTEL,MEMAIL,MDATE,MJNUM,MCODE)
	VALUES(#{mid},#{mpw},#{mname},#{maddr},#{mdaddr},#{mtel},#{memail},sysdate,#{mjnum},#{mcode})
</insert>


<select id="selectMember" parameterType="member" resultType="member">
SELECT MID FROM member WHERE MID=#{mid}
</select>
 


</mapper>