<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewDAO"> 


<insert id="insertReview"  parameterType="review">
	INSERT INTO review(MID,INUM,RENUM,RECONTENT,REDATE,RETITLE,REPASSWORD,FSIZE,FNAME,FREALFNAME,imgname,type,type2) 
	VALUES(#{mid},review_renum_seq.nextval,products_inum_seq.nextval,#{recontent},sysdate,#{retitle},#{repassword},#{fsize},#{fname},#{frealfname},#{imgName},#{type2},#{type} )
</insert>


<select id="showReview" parameterType="review" resultType="review">
SELECT * FROM review
</select>


<update id="updateReview" parameterType="vo.ReviewVO">
  UPDATE review SET
  RETITLE = #{retitle, jdbcType=VARCHAR},
  RECONTENT = #{recontent, jdbcType=VARCHAR}
  WHERE RENUM = #{renum, jdbcType=VARCHAR}
  <if test="mid != null">
    AND Mid = #{mid, jdbcType=VARCHAR}
  </if>
  AND REPASSWORD = #{repassword, jdbcType=VARCHAR}
</update>





</mapper>